.buttonCenter{
    display:flex;
    justify-content: center;
    align-items: center;
 }
.titleSize{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bolder;
}
 
.buttonsize{
    
    //display: flex;
    //text-align: center;
    font-size:20px;
    //width: 100px;
    //justify-content: center;
    align-items: center;
    //height: 100%;
    padding:10px;
    border-radius:10px;


    //border: 2px solid black;
}
 
.slds-combobox{
    max-width: 75%;
    width: 75%;
    margin: 50px;
}
 
.footer-space{
   
    margin-right:10px;
}
 
.slds-combobox_form-element{
        width: 75%;
        text-align: left;
}