.card-container {
    margin: 20px;
    padding: 20px;
}
.container {
    margin: 20px;
    padding: 10px;
    font-family: Arial, sans-serif;
}

.instruction {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.link {
    color: #0070d2;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
    color: #0056a3;
}

.details {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}